/nbproject/private/
/GestionBuvette1-war/nbproject/private/
/GestionBuvette1-ejb/nbproject/private/
/GestionBuvette1-ejb/build/
/GestionBuvette1-ejb/dist/
/GestionBuvette1-war/build/
/build/
/dist/
/GestionBuvette1-war/dist/